.home {

  height: 100vh;
    background: url('../../assets/home-bg.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
}

.home-content {
height: calc(100vh - 80px);
  width: 100%;
  text-align: center;
  
}

.home-text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  font-family: BIG SHOT;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
  margin: 32px 0 80px;
  text-align: center;
}

.home-btn {
  color: black;
  font-size: 24px;
  font-family: BIG SHOT;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  word-wrap: break-word;
  width: 160px;
  height: 60px;
  background: linear-gradient(180deg, #ffd43c 0%, #f66c08 100%);
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.48) inset;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}
